apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: credentials
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: gitlab-secret-store
  target:
    name: dashboard-secret
    template:
      engineVersion: v2
      type: kubernetes.io/basic-auth
      data:
        username: "{{ .username }}"
        password: "{{ .password }}"
  data:
    - secretKey: username
      remoteRef:
        key: traefik_user
        property: username
    - secretKey: password
      remoteRef:
        key: traefik_user
        property: password
