apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: istio-system
resources:
  - https://github.com/kubernetes-sigs/gateway-api/releases/download/v1.4.1/standard-install.yaml
helmCharts:
  - name: istiod
    repo: https://istio-release.storage.googleapis.com/charts
    version: 1.28.3
    valuesInline:
      profile: ambient
  - name: cni
    repo: https://istio-release.storage.googleapis.com/charts
    version: 1.28.3
    valuesInline:
      profile: ambient
  - name: ztunnel
    repo: https://istio-release.storage.googleapis.com/charts
    version: 1.28.3
