apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - https://github.com/kubernetes-sigs/gateway-api/releases/download/v1.4.1/standard-install.yaml
  - gateway.yaml
helmCharts:
  - name: base
    repo: https://istio-release.storage.googleapis.com/charts
    version: 1.28.3
    namespace: istio-system
    valuesInline:
      profile: ambient
  - name: istiod
    repo: https://istio-release.storage.googleapis.com/charts
    version: 1.28.3
    namespace: istio-system
    valuesInline:
      profile: ambient
      trustedZtunnelNamespace: kube-system
      resources:
        requests:
          memory: 512Mi
  # https://istio.io/latest/docs/ambient/install/platform-prerequisites/#google-kubernetes-engine-gke
  # CNI and ztunnel both require node-critical class
  - name: cni
    repo: https://istio-release.storage.googleapis.com/charts
    version: 1.28.3
    namespace: kube-system
    valuesInline:
      profile: ambient
  - name: ztunnel
    repo: https://istio-release.storage.googleapis.com/charts
    version: 1.28.3
    namespace: kube-system
    valuesInline:
      resources:
          requests:
            memory: 1Mi
