provider:
  name: webhook
  webhook:
    image:
      repository: ghcr.io/muhlba91/external-dns-provider-adguard
      tag: latest
    service:
      port: 8888
    livenessProbe:
      httpGet:
        path: /healthz
        port: 8080
      initialDelaySeconds: 10
      timeoutSeconds: 5
    readinessProbe:
      httpGet:
        path: /healthz
        port: 8080
      initialDelaySeconds: 10
      timeoutSeconds: 5
    env:
      - name: ADGUARD_URL
        # Internal DNS: <service name>.<namespace>.svc.cluster.local
        value: http://headless.adguard.svc.cluster.local
      - name: ADGUARD_USER
        valueFrom:
          secretKeyRef:
            name: adguard-credentials
            key: username
      - name: ADGUARD_PASSWORD
        valueFrom:
          secretKeyRef:
            name: adguard-credentials
            key: password
      - name: LOG_LEVEL
        value: debug
      - name: DRY_RUN
        value: "false"
