apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: pod-mapping-istio
spec:
  groups:
    - name: pod.mapping.istio
      rules:
        - record: pod_origin
          expr: >
            count by (pod, namespace, origin_app) (
              label_replace(
                kube_pod_labels{namespace="kube-system", label_app_kubernetes_io_part_of="istio"},
                "origin_app", "istio", "pod", ".*"
              )
            )
