apiVersion: v1
kind: Service
metadata:
  name: service
spec:
  selector:
    app: network-test
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: route-test
spec:
  parentRefs:
  - name: gateway
    namespace: istio-system
  hostnames:
    - testing.home.arpa
  rules:
    - backendRefs:
        - name: service
          port: 80
