alertmanager:
  enabled: false

grafana:
  enabled: false

fullnameOverride: kprometheus

cleanPrometheusOperatorObjectNames: false
prometheus:
  enabled: true
  prometheusSpec:
    scrapeConfigSelectorNilUsesHelmValues: false
    ruleSelectorNilUsesHelmValues: false
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false
    probeSelectorNilUsesHelmValues: false
    retention: "100y"
    retentionSize: "8GiB"
    storageSpec:
      volumeClaimTemplate:
        metadata:
          name: db
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 10Gi

  # -- BETA: Configure the gateway routes for the chart here.
  # Be aware that this is an early beta of this feature,
  # kube-prometheus-stack does not guarantee this works and is subject to change.
  route:
    main:
      enabled: true
      apiVersion: gateway.networking.k8s.io/v1
      kind: HTTPRoute
      parentRefs:
        - name: gateway
          namespace: istio-system
      hostnames:
        - prometheus.home.arpa

prometheus-node-exporter:
  namespaceOverride: kube-system

# Passed on to sub-chart
# https://artifacthub.io/packages/helm/prometheus-community/kube-state-metrics
kube-state-metrics:
  metricLabelsAllowlist:
    - pods=[app.kubernetes.io/part-of]
