apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: iscsi-config
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: gitlab-secret-store
  data:
    - secretKey: password
      remoteRef:
        key: proxmox_root_password
  target:
    name: config
    template:
      engineVersion: v2
      data:
        driver-config-file.yaml: |
          driver: zfs-generic-iscsi
          _private:
            csi:
              volume:
                idTemplate: "{{ `{{ parameters.[csi.storage.k8s.io/pvc/namespace] }}-{{ parameters.[csi.storage.k8s.io/pvc/name] }}` }}"
          sshConnection:
            host: 192.168.123.111
            port: 22
            username: root
            password: "{{ .password }}"
          iscsi:
            targetPortal: "192.168.123.111:3260"
            interface: "vmbr0"
            nameTemplate: "{{ `{{ parameters.[csi.storage.k8s.io/pvc/namespace] }}-{{ parameters.[csi.storage.k8s.io/pvc/name] }}` }}"
            shareStrategy: "targetCli"
            shareStrategyTargetCli:
              sudoEnabled: false
              # IQN must be created on the server to connect successfully
              basename: "iqn.2025-01.local.zfs"
              tpg:
                # Attributes are not retroactively applied and must be manually synced
                attributes:
                  authentication: 0
                  # Following official example config
                  generate_node_acls: 1
                  cache_dynamic_acls: 1
                  demo_mode_write_protect: 0
              block:
                attributes:
                  # Allow UNMAP (TRIM)
                  emulate_tpu: 1
          zfs:
            datasetParentName: rpool/k8s
            detachedSnapshotsDatasetParentName: rpool/notused
            # Inherit
            zvolCompression: ""
            zvolDedup: ""
